### データフレームに関数を適用 / 文字列操作 / 細かい分析

In [ ]:
# map apply applymap

In [1]:
import pandas as pd
import numpy as np

### Series とmap メソッド

In [2]:
s1 = pd.Series([7000,5000,23000,2500,12000])
s1

0     7000
1     5000
2    23000
3     2500
4    12000
dtype: int64

In [3]:
s1 * 2

0    14000
1    10000
2    46000
3     5000
4    24000
dtype: int64

In [4]:
# 2倍にする関数
def double(x):
    return x * 2

In [6]:
# mapメソッド シリーズ各要素に同じ関数を適用
s1.map(double)

0    14000
1    10000
2    46000
3     5000
4    24000
dtype: int64

In [8]:
# シンプルな関数はdefで宣言せずとも作成可能
# ラムダ式 無名関数 
s1.map(lambda x: x * 3)

0    21000
1    15000
2    69000
3     7500
4    36000
dtype: int64

In [9]:
# ラムダ式でif文の作成
s1.map(lambda x: '1万円以上' if x >= 10000 else '1万円未満')

0    1万円未満
1    1万円未満
2    1万円以上
3    1万円未満
4    1万円以上
dtype: object

In [10]:
# 価格でランク付けをする関数
def f_rank(x):
    if x >= 20000:
        return 'S'
    elif x >= 10000:
        return 'A'
    elif x >= 5000:
        return 'B'
    else:
        return 'C'

In [11]:
s1.map(f_rank)

0    B
1    B
2    S
3    C
4    A
dtype: object

In [12]:
# numpy で2乗が可能
s1.map(np.square)

0     49000000
1     25000000
2    529000000
3      6250000
4    144000000
dtype: int64

In [14]:
# map メソッドはSeriesの各要素に適用される為、合計金額にならない
s1.map(np.sum)

0     7000
1     5000
2    23000
3     2500
4    12000
dtype: int64

In [15]:
s1.sum()

49500

### 文字列Seriesとmapメソッド